ssh-keygen -t rsa -b 4096 -C "<EMAIL>"
id_rsa
id_rsa.pub

Host aliyun-ecs
    HostName <PUBLIC_IP>
    User root
    IdentityFile ~/.ssh/sophia-ssh.pem
    IdentitiesOnly yes
    Port 22
    ServerAliveInterval 60
    ServerAliveCountMax 10
Host openclaw-malaysia
    HostName <PUBLIC_IP>
    User ecs-user
    IdentityFile ~/.ssh/kamakura_claw-ssh.pem
    IdentitiesOnly yes
    Port 22
    ServerAliveInterval 60
    ServerAliveCountMax 10
