ssh-keygen -t rsa -b 4096 -C "<EMAIL>"
id_rsa
id_rsa.pub

# GitHub
ssh-keygen -t ed25519 -C "<EMAIL>" -f ~/.ssh/id_ed25519_github

# Codeup
ssh-keygen -t ed25519 -C "<EMAIL>" -f ~/.ssh/id_ed25519_codeup


Host aliyun-ecs
    HostName <PUBLIC_IP>
    User root
    IdentityFile ~/.ssh/sophia-ssh.pem
    IdentitiesOnly yes
    Port 22
    ServerAliveInterval 60
    ServerAliveCountMax 10
Host openclaw-malaysia
    HostName <PUBLIC_IP>
    User ecs-user
    IdentityFile ~/.ssh/kamakura_claw-ssh.pem
    IdentitiesOnly yes
    Port 22
    ServerAliveInterval 60
    ServerAliveCountMax 10
